/* Sélecteur qui ne sélectionne rien mais qui définit des valeurs par défaut */
:root{
    /* Variables CSS */
    --vert: #1abc9c;
    --clair: #2c3e50;
    --fonce: #1a252f;
}

body{
    font-family: 'Lato', sans-serif;
    /* Mettre le texte en vert */
    /* color: var(--vert); */
    margin: 0;
}

figure
{
    margin: 0px;
}

/*On retire la bande blanche sous les images*/
img
{
vertical-align: middle;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}
h1, nav{
    text-transform: uppercase;
}
/* Header */
/* Nav */
header nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--clair);
    padding: 0 100px;
    align-items: center;
    font-weight: bold;
}
header nav a{
    color: white;
    text-decoration: none;
}
header nav li
{
    display: inline;
    margin-left: 25px;
}

header
{
    background-color: var(--vert);
    color: white;
    height: 100vh;
    position: relative;
}
header section
{
    text-align: center;
    /*Pour centrer parfaitement un élément dans son parent*/
    /* Le Parent doit être en postion relative */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   
header section h1{
    font-size: 4rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

/* La balise p qui suit un H1 */
header h1 + p, main h1 + p
{
color: red;
position: relative;
width: min-content;
margin: auto;
}


header h1 + p::before, main h1 + p::before
{
    content: "";
    background-color: aliceblue;
    position: absolute; 
    width: 100px;
    height: 5px;
    top: 50%;
    left: -100px;
}

header h1 + p::after, main h1 + p::after
{
    content: "";
    background-color: aliceblue;
    position: absolute; 
    width: 100px;
    height: 5px;
    top: 50%;
    left: 47px;
}

.la-star{
    font-size: 3rem;
}


/*PortFolio*/
main section
{
padding-top: 50px;
padding-bottom: 50px;
}
figure img{
    width: 100%;
}

main section:first-child 
{
    display: inline-block;
    text-align: center;
}

main section:first-child h1
{
margin-top: 50px;
margin-bottom: 10px;
}

main section:first-child div 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0px 100px;
    margin-top: 30px;

}
/* About */
main section:nth-child(2)
{
    text-align: center;
    background-color: var(--vert);
    color: white;
    padding: 5px;
}
main section:nth-child(2) p:nth-child(3)
{
    width: 50%;
    column-count: 2;
    text-align: left;
    margin: 35px auto;
}
main a
{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin-bottom: 50px;
    padding: 15px;
}

footer
{
    background-color: var(--clair);
    color: white;
    padding: 50px 100px;
}
footer li a
{
    color: white;
}
footer i
{

    border: 2px solid white;
    border-radius: 30px;
    padding: 5px;

}
footer div:first-child
{
    display: flex;
}
footer div:first-child section
{
    flex: 1;
}
footer ul{
    font-size: 2rem;
    padding: 0;
}
footer li
{
    display: inline;
}